body, html {
	margin:0;
	width:100%;
	height:100%;
	font-family:sans-serif;
}
ul {
	list-style-type:none;
	margin:0;
}
.flatlist > li {
	display:inline-block;
	padding:0;
	margin:0;
}
.list-separator {
	border-top:#AAA solid 1px;
	
}

.alpha_hidden {
	opacity:0 !important;
}

#main_root {
	display:flex;
	flex-direction:column;
	height:100%;
	min-height:0; /* needed for constaining the inner scroll box (thanks https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/) */
}
	#head_status {
		transition:all 0.3s ease;
		opacity:1;
		margin:0 2em;
	}
	#flexroot {
		display:flex;
		flex-direction:row;
		overflow:hidden;
		flex:1;
	}

	#main_logotext {
		display:inline-block;
	}
	#user_head {
		display:inline-block;
	}
	#user_select_pane {
		width:15%;
		min-width:200px;
		display:flex;
		flex-direction:column;
	}
		#user_select {
			margin:0;
			padding:0;
			flex:1;
			overflow-y:scroll;
		}
			#user_select > li.user-item {
				margin:0;
				padding:1em;
				cursor:pointer;
			}
			#user_select > li.selected {
				background-color:#EEE;
				cursor:normal;
			}
				.new-count, .remove-user {
					float:right;
					margin:0 0.4em;
				}
				.new-count {
					height:2em;
					margin-top:-0.35em;
					padding:0.5em;
					min-width:1em;
					text-align:center;
					font-size:0.8em;
					border-radius:1em;
					box-sizing:border-box;
				}
				.new-count.nonzero {
					background-color:#a9871d;
					font-weight:bold;
					color:#FFF;
				}
				#user_add_item {
					position:relative;
					padding:0.1em !important;
				}
				#user_add_input {
					padding:0.6em;
					padding-right:2.2em;
					font-size:1.2em;
					width:100%;
				}
					#user_add_form {
						margin:0;
					}
						#user_add_button_wrapper {
							position:absolute;
							right:0.2em;
							top:50%;
						}
							#user_add_button {
								border:none;
								background:none;
								background-color:#AAA;
								outline:none;
								height:1.7em;
								width:1.7em;
								text-align:center;
								font-size:1.5em;
								margin-top:-0.85em;
							}
								#user_add_button::after {
									content:'+';
									font-weight:bold;
								}
				

	.pagination-list {
		display:inline-block;
	}
		.page-arrow {
			font-size:2em;
			font-weight:bold;
		}
		.pagination-page-count {
			font-weight:bold;
		}
		.pagination-post-count {
			font-size:0.8em;
		}
	#post_pane .pagination-container {
		padding:1em 0;
	}
		#post_pane .pagination-list {
			width:50%;
			display:flex;
			margin:0 auto;
		}
			#post_pane .pagination-list > li {
				flex:1;
				text-align:center;
			}
	.pagination-container .page-arrow {
		cursor:pointer;
	}
	.pagination-container .page-arrow.disabled {
		opacity:0.4;
		cursor:default;
	}
	
	#post_pane {
		display:flex;
		flex-direction:column;
		flex:1;
	}
		#post_list_wrapper {
			overflow-y:scroll;
			flex:1;
			position:relative;
		}
			#no_favs_pane_filler {
				left:0;
				right:0;
				top:50%;
				position:relative;
				height:2em;
				font-size:1.4em;
				color:#AAA;
				font-weight:bold;
				text-align:center;
			}
				#no_favs_pane_filler > span {
					margin-top:-1em;
				}
			#post_list > li {
				width:256px;
				margin:0.4em;
				vertical-align:middle;
			}
			/*.postcard {
				border:#DDD solid 1px;
			}*/
			.postcard.unvisited {
				border-top:#a9871d solid 3px;
			}
			.postcard.unvisited * {
				font-weight:bold !important;
			}
			
				.postcard > figure {
					margin:0;
				}
				.postcard > figcaption {
					padding:1em;
				}
					.postcard h3, .postcard h4, .postcard h5 {
						margin:0.4em 0;
						font-weight:normal;
					}
					.postcard h3 {
						font-size:1.2em;
						text-align:center;
					}
					.postcard h4 {
						font-size:1.0em;
					}
					.postcard h5 {
						font-size:0.8em;
					}


.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 2px;
  box-sizing: border-box;
  border: 8px solid #AAA;
  border-color: #AAA transparent #AAA transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(720deg);
  }
}