body, html {
	margin:0;
	width:100%;
	height:100%;
	font-family:sans-serif;
	font-size:0.94em;
}
ul {
	list-style-type:none;
	margin:0;
}
.flatlist > li {
	display:inline-block;
	padding:0;
	margin:0;
}
.list-separator {
}

.alpha_hidden {
	opacity:0 !important;
}

.pseudobutton {
	cursor:pointer;
	padding:0.6em;
	border-width:1px;
	border-style:solid;
}

#main_root {
	display:flex;
	flex-direction:column;
	height:100%;
	min-height:0; /* needed for constaining the inner scroll box (thanks https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/) */
}
	#fails_list {
		position:absolute;
		left:0;
		right:0;
		top:0;
		
		list-style-type:none;
		margin:0;
		padding:0;
		text-align:center;
		z-index:10;
	}
		#fails_list > li {
			max-width:50%;
			display:block;
			background-color:#c34848;
			border:#922828 solid 1px;
			border-radius:0.2em;
			padding:0.6em 2em;
			margin:0.7em auto;
			color:#FFF;
			text-shadow:0 1px 1px #922828;
		}
	#head_status {
		transition:all 0.3s ease;
		opacity:1;
		margin:0 2em;
	}
	#flexroot {
		display:flex;
		flex-direction:row;
		overflow:hidden;
		flex:1;
	}

	#main_logotext {
		margin:1em;
	}
		#main_logo {
			display:block;
			background-repeat:no-repeat;
			background-position:center;
			background-size:contain;
			height:1.6em;
		}
	#user_head {
		display:inline-block;
		padding:0.5em 1em;
		margin:0.5em 0;
		font-size:1.8em;
	}
		#user_head > * {
			display:inline-block;
			vertical-align: middle;
		}
		#user_head > .new-count {
			font-size:0.6em;
			margin-left:1em;
		}
		
	#sortby_wrapper {
		display:inline-block;
		margin:0 1em;
	}
		#sortby_select {
			margin:0 0.3em;
			font-size:inherit;
			color:inherit;
		}
		
	#user_select_pane {
		width:15%;
		min-width:200px;
		display:flex;
		flex-direction:column;
	}
		#user_select {
			margin:0;
			padding:0;
			flex:1;
			overflow-x:hidden;
			overflow-y:scroll;
		}
			#user_select > li.user-item {
				margin:0;
				padding:1em;
				cursor:pointer;
			}
			#user_select > li.selected {
				cursor:auto;
				font-weight:bold;
			}
				.new-count, .remove-user {
					padding:0 0.4em;
					font-size:1.3em;
					font-weight:bold;
					text-decoration:none;
				}
				#user_select .new-count, #user_select .remove-user {
					float:right;
				}
				.new-count {
					height:2.2em;
					margin-top:-0.35em;
					padding:0.5em;
					min-width:1em;
					text-align:center;
					font-size:0.8em;
					border-radius:1.1em;
					box-sizing:border-box;
					
					text-shadow:0 0.2em 0.1em #a98514;
					background-color:#c69d1f;
					border:#a98514 solid 2px;
					font-weight:bold;
					color:#FFF;
				}
				#user_add_item {
					position:relative;
					padding:0.1em !important;
				}
				#user_add_input {
					padding:0.6em;
					padding-right:2.2em;
					font-size:1.2em;
					width:100%;
				}
					#user_add_form {
						margin:0;
					}
						#user_add_button_wrapper {
							position:absolute;
							right:0.2em;
							top:50%;
						}
							#user_add_button {
								border:none;
								background:none;
								outline:none;
								height:1.7em;
								width:1.7em;
								text-align:center;
								font-size:1.5em;
								margin-top:-0.85em;
							}
								#user_add_button::after {
									content:'+';
									font-weight:bold;
								}
				
			#theme_toggle {
				padding:1em 0;
				text-align:center;
				cursor:pointer;
				font-size:0.7em;
			}
				#theme_toggle h2 {
					text-transform:capitalize;
					margin:0.6em 0;
				}
	#post_pane header {
		font-size:1.2em;
	}
		#post_pane header h2 {
			font-size:1.5em;
		}
		#post_pane header > *:first-child {
			margin-left:0;
		}
		#post_pane header > *:last-child {
			margin-right:0;
		}
		#post_pane header > * {
			margin:0 1em;
			vertical-align:middle;
			display:inline-block;
		}
	
	#post_pane {
		display:flex;
		flex-direction:column;
		flex:1;
	}
		#post_list_wrapper {
			overflow-y:scroll;
			flex:1;
			position:relative;
			text-align:center;
		}
			#no_favs_pane_filler {
				left:0;
				right:0;
				top:50%;
				position:relative;
				height:2em;
				font-size:1.4em;
				font-weight:bold;
				text-align:center;
			}
				#no_favs_pane_filler > span {
					margin-top:-1em;
				}
			#post_list > li {
				width:200px;
				margin:0.5em;
				vertical-align:middle;
			}
			/*.postcard {
				border:#DDD solid 1px;
			}*/
			.postcard {
				position:relative;
			}
			.postcard.unvisited h3::before {
				content:" ";
				display:inline-block;
				
				width:0.5em;
				height:0.5em;
				display:inline-block;
				vertical-align:middle;
				border-radius:50%;
				background-color:#c69d1f;
				border:#a98514 solid 2px;
				position:relative;
				left:-1em;
			}
			.postcard.unvisited * {
				font-weight:bold !important;
			}
			
				.postcard > figure {
					margin:0;
					text-align:center;
				}
					.postcard .postcard-thumb {
						max-width:100%;
						max-height:200px;
						box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
					}
					
					.postcard.postcard-adult .postcard-thumb {
						border:#cf3a2f solid 1px;
					}
					.postcard.postcard-mature .postcard-thumb {
						border:#2fa6cf solid 1px;
					}
				.postcard > figcaption {
					padding:1em;
				}
					.postcard h3, .postcard h4, .postcard h5 {
						margin:0.4em 0;
						font-weight:normal;
					}
					.postcard h3 {
						font-size:1.2em;
						text-align:center;
					}
					.postcard h4 {
						font-size:1.0em;
					}
					.postcard h5 {
						font-size:0.8em;
					}
		
		#post_pane .pagination-container {
			padding:1em 0;
			position:relative;
		}
			#post_pane .pagination-list {
				width:50%;
				display:flex;
				margin:0 auto;
			}
				#post_pane .pagination-list > li {
					flex:1;
					text-align:center;
				}
				
	.pagination-list {
		display:inline-block;
	}
		.page-arrow {
			font-size:2em;
			font-weight:bold;
		cursor:pointer;
		}
		.pagination-container .page-arrow.disabled {
			opacity:0.4;
			cursor:default;
		}
		.pagination-page-count {
			font-weight:bold;
		}
		.pagination-post-count {
			font-size:0.8em;
		}
		
		#help_link_container {
			position:absolute;
			right:1em;
			top:50%;
		}
			#help_link {
				margin-top:-0.5em;
				height:1em;
				display:inline-block;
				text-decoration: none;
			}
				#help_link > * {
					display:inline-block;
					vertical-align:middle;
				}
				#help_link::after {
					content:"?";
					
					display:inline-block;
					vertical-align:middle;
					margin:0 0.5em;
					width:1em;
					height:1em;
					border-style:solid;
					border-width:1px;
					border-radius:50%;
					text-align:center;
					padding:0.3em;
					font-size:0.7em;
				}


.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 2px;
  box-sizing: border-box;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(360deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(720deg);
  }
}